@keyframes opaci {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes cab_text_a1 {
    from {left:150%}
    to {left:0}
}
@keyframes cab_text_a2 {
    from {left:200%}
    to {left:0}
}
@keyframes cab_text_a3 {
    from {left:250%}
    to {left:0}
}

 @-webkit-keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 2112.9521484375px;
      stroke-dasharray: 2112.9521484375px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 2112.9521484375px;
    }
  }
  
  @keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 2112.9521484375px;
      stroke-dasharray: 2112.9521484375px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 2112.9521484375px;
    }
  }
  
  @-webkit-keyframes animate-svg-fill-1 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(0, 0, 0);
    }
  }


 @-webkit-keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 2112.9521484375px;
      stroke-dasharray: 2112.9521484375px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 2112.9521484375px;
    }
  }
  
  @keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 2112.9521484375px;
      stroke-dasharray: 2112.9521484375px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 2112.9521484375px;
    }
  }
  
  @-webkit-keyframes animate-svg-fill-1 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(0, 0, 0);
    }
  }
  
  @keyframes animate-svg-fill-1 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(0, 0, 0);
    }
  }
  

  
