body{
    margin:auto;
    font-size: $font-size-base;
    font-family: $font-sans;
}

.section{
    margin: auto;
    width:100%;
    background-color: $noir;
    &_noir{
        background-color: $noir;
    }
    &_white{
        background-color: $white;
    }
    &.space-end{
        @include small{
            height:15em
        }
    }
    &.vanitis{
        .logo{ 
            position: absolute;
            display: flex;
            right: 1.5em;
            top: 1.5em;
        }
    }
}
strong{
    font-weight:bolder;
}

