body{
    margin:auto;
    font-size: $font-size-base;
    font-family: $font-sans;
}
.container{
    overflow: hidden;
    @include largest{
        font-size: larger;
    }
}
.section{
    margin: auto;
    width:100%;
    background-color: $noir;
    &_noir{
        background-color: $noir;
    }
    &_white{
        background-color: $white;
    }
    &.space-end{
        @include small{
            height:15em
        }
        display: flex;
        justify-content: space-between;
        .floral{
            opacity: 0.2;
            &.active{
                 -webkit-animation: 
                animate-svg-stroke-1 4s cubic-bezier(0.6, 0.04, 0.98, 0.335) 0s both,
                animate-svg-fill-1 4s cubic-bezier(0.075, 0.82, 0.165, 1) 6s both;
                animation: animate-svg-stroke-1 4s cubic-bezier(0.6, 0.04, 0.98, 0.335) 0s both,
                animate-svg-fill-1 4s cubic-bezier(0.075, 0.82, 0.165, 1) 6s both;
            }
          }
          
        .floral-1{ 
            transform: rotate(45deg) scale(2) translate(15%, -20%);
        }
        .floral-2{
            transform: rotate(-45deg) scale(2) translate(-15%, -20%) scaleX(-1);
        }
    }
    &.vanitis{
        .logo{ 
            position: absolute;
            display: flex;
            right: 1.5em;
            top: 1.5em;
        }
    }
}
strong{
    font-weight:bolder;
}

