.fullPicture{
    display: flex;
    align-items: center;
    justify-content: center;
    &__cards{
        position: absolute;
        width:80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 250vh;
        height:  250%;
        @include small{
            margin-top: 150%;
            height: 150%;
        }
        @include tablet{
            width:42%;
        }
    }

    &__card{
       background:$noir;
       color:$light-grey;
       padding:1em;
       font-size: 1.125em;
       margin:3em 0;
       line-height: 1.5;
    }
    &__img{
        object-fit: cover;
        width: 100%;
        height: 100vh;
    }
}