
// breakpoints in mixins

// colors
$noir:#181818;
$black:#000000;
$white:#ffffff;
$golden:#C49150;
$dark-grey: #333333;
$grey: #4B4B4B;
$grey2: #828282;
$light-grey: #DEDCD9;
$whiteSmoke:#FBF6F6;


